/* ------------------------------- */
/* 			Paramètres d'édition			 */
/* ------------------------------- */

/* ? Soucis pour mettre la barre d'édition sur tout l'écran car le body est centré ? */
.editorBar {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;

  width: 100%;
  /* ? Propriété heigt qui ne fonctionne pas ? */
  min-height: 50px;

  background-color: #000000;
}

.editorBar-info {
  display: flex;
  align-items: center;
  margin: 5px 10px;

  font-size: 0.9em;

  color: #ffffff;
}

.editorBar-button {
  cursor: pointer;
  margin: 5px 10px;
  padding: 0 20px;
  border: none;
  border-radius: 60px;

  font-family: "Work Sans";
  font-size: 0.9em;
  font-weight: 700;

  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.2);

  background-color: #fffef9;
  color: #000000;
}

.backgroundModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalEditor {
  display: flex;
  flex-direction: column;
  width: 700px;

  background-color: #ffffff;
}

.modalDelete {
}

.modalTitle {
  text-align: center;
  margin: 20px;

  font-size: 1.2em;
  font-family: "Work Sans";
}

.worksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 90px;
}

.imgWorks {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
