/* ------------------------------- */
/* 			Paramètres d'édition			 */
/* ------------------------------- */

/* ? Soucis pour mettre la barre d'édition sur tout l'écran car le body est centré ? */
.editorBar {
  z-index: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;

  width: 100%;
  /* ? Propriété heigt qui ne fonctionne pas ? */
  min-height: 50px;

  background-color: #000000;
}

.editorBar-info {
  display: flex;
  align-items: center;
  margin: 5px 10px;

  font-size: 1rem;

  color: #ffffff;
}

.editorBar-info svg {
  margin-right: 10px;
}

.editorBar-button {
  cursor: pointer;
  margin: 5px 10px;
  padding: 0 20px;
  border: none;
  border-radius: 60px;

  font-family: "Work Sans";
  font-size: 1rem;
  font-weight: 700;

  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.2);

  background-color: #fffef9;
  color: #000000;
}

.backgroundModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalEditor {
  position: relative;
  width: 800px;

  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modalRemove {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  width: 20px;
  font-size: 20px;

  border: none;
  background: none;
}

.modalEditorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 120px;
  /* background-color: red; */
}

.modalTitle {
  text-align: center;
  margin: 50px;

  font-size: 2em;
  font-family: "Work Sans";
}

.worksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.imgWorks {
  object-fit: cover;
  width: 100px;
  height: 150px;
}

.modalEditorContainer hr {
  width: 100%;
  margin: 50px 0;
}

.btnAddPicture {
  cursor: pointer;
  width: 50%;
  padding: 10px 0;
  border: none;
  border-radius: 60px;

  font-family: "Work Sans";
  font-size: 1.2em;

  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

  background-color: #1d6154;
  color: #fffef9;
}

.btnRemoveGallery {
  cursor: pointer;
  margin-top: 30px;

  font-family: "Work Sans";
  font-size: 1.2em;

  color: #D65353;
}