/* ---------------- */
/* 			Modal			 */
/* --------------- */

.modal {
  position: relative;
  /* width: 800px; */

  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modalRemove {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;

  border: none;
  background: none;
}

.containerModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 120px;
}

.modalTitle {
  text-align: center;
  margin: 30px;

  font-size: 2em;
  font-family: "Work Sans";
}

.worksContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.workInModal {
  display: flex;
  flex-direction: column;
  position: relative;
}

.workInModal img {
  object-fit: cover;
  width: 100px;
  height: 150px;
}

.workInModal:hover .btnMoveWorkInModal {
  display: block;
}

.btnMoveWorkInModal, .btnRemoveWorkInModal {
  cursor: pointer;
  position: absolute;
  border-radius: 4px;
  padding: 4px;
  background-color: #000000;
  color: #FFFFFF;
}

.btnRemoveWorkInModal {
  top: 5px;
  right: 5px;
}

.btnMoveWorkInModal {
  display: none;
  top: 5px;
  right: 30px;
}

.btnEditWorkInModal {
  cursor: pointer;
  border: none;
  background: none;
  margin-top: 5px;
  padding: 0;
  text-align: left;

  font-family: "Work Sans";
  font-size: 1rem;
}

.modalEditorContainer hr {
  width: 100%;
  margin: 30px 0;
}

.btnAddPicture, .btnSubmitAddPicture {
  cursor: pointer;
  width: 50%;
  padding: 10px 0;
  border: none;
  border-radius: 60px;

  font-family: "Work Sans";
  font-size: 1.2em;

  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

  background-color: #1d6154;
  color: #fffef9;
}

.btnRemoveGallery {
  cursor: pointer;
  border: none;
  background: none;
  margin-top: 20px;

  font-family: "Work Sans";
  font-size: 1.2em;

  color: #D65353;
}

/* PICTURE MODAL */

.formAddPicture {
  display: flex;
  flex-direction: column;
}

.modalReturn {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;

  border: none;
  background: none;
}